.inicio{
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/Imagen.webp");
    background-position: center;
    background-size: cover;
    height:30rem;  
    }
.navbar-brand{
    front-family: 'Raleway' , sans-serif;
    front-size: 1.2rem;
    color:blue;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: blue;
}

